.materialInputEditable {
    width: 100%;
    padding: 10px; /* Adjust input padding for better spacing */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.materialInputNonEditable {
    width: 100%;
    padding: 10px;
    color: #000; /* Default text color for non-editable text */
    background-color: transparent;
    display: inline-block;
}

.materialInputEditable:disabled {
    background-color: #f9f9f9;
    color: #aaa;
    cursor: not-allowed;
}
